.dt-head-center {
	text-align: center!important;
}


th { font-size: 12px!important; }
td { font-size: 12px!important; }

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 24px;
}
th,
td,
li,
ul,
ol {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 24px;
}
li {
	margin-bottom: 5px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
    color: white;
}
h6 {
	font-size: 18px;
}

header#top {
	margin-bottom: 0;
}

.menu-text {
    color: white;
}

.jumbotron {
	/* background-color: #6c7707; */
	background-color: rgba(0,0,0,.0);
	color: #fff;
	text-align: center;
}
.home .jumbotron .container a {
	border-bottom: 1px solid #eee;
	color: #fff;
}
.home .jumbotron .container a.btn {
	border: none;
}

.btn-primary {
	/* background-image: linear-gradient(to bottom,#81b74d 0,#4f881a 100%) !important; */
	background-image: linear-gradient(to bottom,#6e8f4f 0,#3b5a1e 100%) !important;
}
.btn-primary:hover {
	background-color: #3b5a1e !important;
}
.btn-info {
	background-image: linear-gradient(to bottom, #6d855f 0, #475c3b 100%) !important;
	border-color: whitesmoke !important;
}
.btn-info:hover {
	background-color: #475c3b !important;
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	border-color: whitesmoke !important;
}

.navbar-inverse {
  /* background-image: -webkit-linear-gradient(top, #81b74d 0, #4f881a 100%);
    background-image: -o-linear-gradient(top,#81b74d 0,#4f881a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#81b74d),to(#4f881a));
    background-image: linear-gradient(to bottom,#81b74d 0,#4f881a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
	border-color: #4a8029; */
  background-image: -webkit-linear-gradient(top, #5a793d 0, #2e4419 100%);
    background-image: -o-linear-gradient(top,#5a793d 0, #2e4419 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5a793d),to(#2e4419));
    background-image: linear-gradient(to bottom,#5a793d 0, #2e4419 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #2e4419;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-nav>li>a {
	color: #efefef;
}
.nav.navbar-nav li {
	margin-bottom: 0;
}
.nav.navbar-nav li button {
	margin-top: 7px;
	margin-left: 30px;
}
.navbar-collapse .nav.navbar-nav li button {
	margin-left: 15px;
}


input {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 15px;
}

input[type=file] {  
  /*position: absolute;
  bottom: 0;
  right: 102%;*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}

select {
  padding: 5px;
}
select option {
	font-size: 16px;
}

#state {
	margin-bottom: 15px;
}

.sticky-controls select {
	margin-bottom: 15px;
}
.sticky-controls {
	margin-left: 0;
	padding-left: 0;
}
.sticky-controls label {
	font-size: 20px;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ballpark-wrap {
	margin-bottom: 80px;
}

.btn-new-scenario {
	font-size: 20px;
}





.callout {
	position: relative;
    padding: 15px 15px 5px;
    margin: 0 -15px 15px;
    background-color: #efefef;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    overflow: auto;
}
.callout h2 {
	font-size: 24px;
	margin: 0 0 10px 0;
}
.callout p,
.callout ul {
	margin-bottom: 10px;
}






body.distresses .type {
	margin: 10px 20px;
}

body.distresses .type h5 {
	border-top: 1px solid #999;
	margin-top: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}
body.distresses .distress {
	border-top: 3px solid #999;
	margin-top: 40px;
	padding-top: 20px;
}

body.distresses .page-header nav {
	background-color: #f2f7ff;
	float: right;
	padding: 15px 25px 15px 20px;
	width: auto;
}

@media (min-width: 768px) {
	.callout {
		margin-right: 0;
	    margin-left: 0;
	    background-color: #f5f5f5;
	    border-color: #ddd;
	    border-width: 1px;
	    border-radius: 4px 4px 0 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
}


@media only screen and (max-width: 699px) {
	
	body.distresses .page-header nav {
		margin-bottom: 25px;
		font-size: 18px;
		width: 100%;
	}
}

.clear-both { clear: both; }
.display-none, .fa.display-none { display: none; }


/** IMAGE STUFF ***/

    .photobox img {
      float:left;
      max-height:190px;
      width:auto;
    }

    .photobox a {
      float:left;
      margin-right:20px;
      margin-bottom:20px;
      max-height:190px;
      width:auto;
    }

    div.type {
      clear:both;
    }

  
    .photobox a { position: relative; float: left; cursor: pointer; }
    .photobox a .caption { 
      position: absolute; 
      bottom: 0; 
      left: 0; 
      right: 0; 
      padding: 1rem;

      background-color: rgba(0,0,0,0.80); 
      color: white; 
      width: 100%; 
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.8rem;
    }  


