html, body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  color: #000;
  font-size: 13px;
  font-weight: 300; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  font-family: "Source Sans Pro", sans-serif; }

a {
  color: #C27D38;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

#header {
  margin: 0 0 15px 0;
  padding: 0; }
  #header h1, #header h2 {
    display: block;
    height: 10px;
    text-indent: -999em;
    margin: 0;
    padding: 0; }
  #header h1 {
    background: #A31F34; }
  #header h2 {
    background: #C2C0BF; }

#center {
  margin: 0 auto;
  max-width: 1080px; }

#center .pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  background: #fff;
  border: 1px solid rgba(217, 214, 199, 0.32);
  border-radius: 10px;
  color: #333; }
  .content ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px; }

h2 {
  font-family: "Avenir", serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  margin: 30px 0 2px 12px; }

/* pure-hidden-xs */
@media screen and (max-width: 567px) {
  .pure-visible-sm {
    display: none; }
  .pure-visible-md {
    display: none; }
  .pure-visible-lg {
    display: none; }
  .pure-visible-xl {
    display: none; }
  .pure-hidden-xs {
    display: none; } }

/* pure-hidden-sm */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .pure-visible-xs {
    display: none; }
  .pure-visible-md {
    display: none; }
  .pure-visible-lg {
    display: none; }
  .pure-visible-xl {
    display: none; }
  .pure-hidden-sm {
    display: none; } }

/* pure-hidden-md */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pure-visible-xs {
    display: none; }
  .pure-visible-sm {
    display: none; }
  .pure-visible-lg {
    display: none; }
  .pure-visible-xl {
    display: none; }
  .pure-hidden-md {
    display: none; } }

/* pure-hidden-lg */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .pure-visible-xs {
    display: none; }
  .pure-visible-sm {
    display: none; }
  .pure-visible-md {
    display: none; }
  .pure-visible-xl {
    display: none; }
  .pure-hidden-lg {
    display: none; } }

/* pure-hidden-xl */
@media screen and (min-width: 1280px) {
  .pure-visible-xs {
    display: none; }
  .pure-visible-sm {
    display: none; }
  .pure-visible-md {
    display: none; }
  .pure-visible-lg {
    display: none; }
  .pure-hidden-xl {
    display: none; } }

#about a {
  font-weight: 400; }

#about a.past {
  font-weight: 300; }

#about p {
  font-size: 17px;
  line-height: 1.6em;}

#about h2 {
  font-size: 18px;
  margin: 0; }

#about > div {
  padding: 15px; }

#about div.meta {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -15px;
  text-align: center; }

#about div.greeting {
  font-weight: 700;
  font-size: 36px;
  font-family: "Alegreya", serif; }

#about .email span {
  font-size: 10px;
  vertical-align: 1px;
  font-weight: 200; }

#about #mugshot {
  border-radius: 50%;
  margin: 0 auto; }

#about #about-left ul {
  text-align: center;
  margin-top: 15px; }

#about #about-desc {
  padding-bottom: 0; }

#about #news a {
  font-weight: 340; }

#about #news li {
  margin-bottom: 15px; }

#about #news .date {
  color: #999 !important;
  font-size: 13px; }

#about .job-materials {
  margin-top: 10px; }

.project {
  padding: 18px;
  padding-bottom: 0; }
  .project h3 {
    font-size: 13.5px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 6px; }
  .project .thumbnail {
    float: left;
    margin: 5px 15px 0 0; }
    .project .thumbnail img {
      width: 140px;
      /*border-radius: 10px;*/ }
  .project .abstract {
    margin: 0; }
  .project .try a {
    font-weight: 600; }
  .project .collaborators {
    font-size: 11px; }
    .project .collaborators a {
      color: #000; }
      .project .collaborators a:hover {
        color: #C06363; }

@media screen and (min-width: 540px) {
  #papers {
    padding-left: 7.5px; } }

#papers .content {
  padding: 15px; }

#papers a {
  font-weight: 600; }

#papers ul {
  margin: 0; }

#papers li {
  margin-bottom: 20px; }

#papers .me {
  text-decoration: underline; }

#papers .venue {
  font-style: italic; }

#papers .best-paper {
  color: #6f874c;
  font-weight: 600;
  border-radius: 5px; }

#papers .collaborators {
  font-size: 14px; }
  #papers .collaborators a {
    font-weight: 300;
    color: #000; }
    #papers .collaborators a:hover {
      color: #C06363; }

#papers #more-pubs {
  margin: 0; }

@media screen and (min-width: 568px) {
  #other_projects {
    padding-right: 7.5px; } }

@media screen and (min-width: 568px) {
  #travel {
    padding-left: 15px; } }

#travel .content {
  padding: 15px;
  margin-bottom: 15px; }

#travel .past {
  opacity: 0.5; }
